go 1.22

use (
  ./workers/orchestrator
  ./workers/browser-inspector
  ./workers/Z
  ./workers/N
  ./workers/O
  ./workers/S
  ./workers/retest
  ./integrations/zaproxy
  ./integrations/nuclei
  ./integrations/openhack
  ./integrations/strix
  ./contracts/generated/go
)
